<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="MagicBallServiceLib.MagicBallService"
      behaviorConfiguration="BallServiceMEXBehavior">
        <endpoint address=""
        binding="basicHttpBinding"
        contract="MagicBallServiceLib.IMagicBall"/>
        <!-- Дозволити кінцеву точка MEX -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <!-- Повідомляємо MEX адресу сервісу -->
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/MagicBallService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <!-- Визначення поведінки для MEX -->
    <behaviors>
      <serviceBehaviors>
        <behavior name="BallServiceMEXBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          3
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>