<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMagicBall" />
            </basicHttpBinding>
			<netTcpBinding>
				<binding name="EndPointConfiguration"
						 sendTimeout="00:01:00">
				  <security mode="None" />
				</binding>
			  </netTcpBinding>
        </bindings>
        <client>
            <endpoint 
			address="net.tcp://localhost:9000/Service1"
			binding="netTcpBinding"
                bindingConfiguration="EndPointConfiguration" 
				contract="ServiceReference1.IMagicBall"
                name="MyEndPoint" />
        </client>
    </system.serviceModel>
</configuration>