<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMagicBall" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/MagicBallService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMagicBall" contract="ServiceReference1.IMagicBall"
                name="BasicHttpBinding_IMagicBall" />
        </client>
    </system.serviceModel>
</configuration>