<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
	<services>
	  <service name="MagicBallServiceLib.MagicBallService"
			   behaviorConfiguration="MyServiceBehavior">
		<endpoint name="MyEndPoint"
				  address="net.tcp://localhost:9000/Service1"
				  binding="netTcpBinding"
				  bindingConfiguration="EndPointConfiguration"
				  contract="MagicBallServiceLib.IMagicBall" />
		<host>
		  <baseAddresses>
			<add baseAddress="net.tcp://localhost:9000/MagicBallService" />
		  </baseAddresses>
		</host>
	  </service>
	</services>
	<behaviors>
	  <serviceBehaviors>
		<behavior name="MyServiceBehavior">
		  <serviceDebug includeExceptionDetailInFaults="True" />
		  <dataContractSerializer maxItemsInObjectGraph="65536" />
		</behavior>
	  </serviceBehaviors>
	</behaviors>
	<bindings>
	  <netTcpBinding>
		<binding name="EndPointConfiguration"
				 sendTimeout="00:01:00">
		  <security mode="None" />
		</binding>
	  </netTcpBinding>
	</bindings>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>